/*Variables part 1 */
$color-white: white;
$color-footer: #686de0;
$color-body: #c3cfe2;
$color-text:  rgb(46, 44, 44);
$color-dark-gray: darkgray;

/*Variables part 3 */
$color-blog: #e17b77;
$color-twitter: #00aced;
$color-linkedin: #007bb6;
$color-facebook: #3b5998;
$color-github: #333;