@import "./constants";

body{
    background: $color-body;
    margin: 0 auto;
    justify-content: center;
}
h1{
    text-align: center;
}

/* Part 1 - Testimonial */

.testimonial{
    display: grid;
    place-items: center;
    &__wrapper{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    }
    &__top {
        background: $color-white;
        border-radius: 30px 30px 0px 0px;
    & p{
        color: $color-text;
        font-size: 2em;
        margin: 50px;
        line-height: 50px;
        }
    }
    &__img {
        background: linear-gradient(to bottom, $color-white 50%, $color-footer 50%);
        & img{
            border-radius: 50%;
            border-style: solid;
            border-color: $color-white;
            border-width: 8px;
            height: 150px;
            width: 150px;
            margin-left: 36%;
    }
}
    &__bottom{
        background: $color-footer;
        border-radius: 0px 0px 30px 30px;
        margin-bottom: 10px;
        & h3{
            color: $color-white;
            text-align: center;
            font-size: 2em;
            margin-bottom: 5px;
        }
        & h5{
            color: $color-dark-gray;
            text-align: center;
            font-size: 1.5em;
            margin-top: 10px;
        }
    }
}

/* Part 2 - Portfolio Grid */
.portfolio{
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 40px;
        place-items: center;
        margin: 40px;
    }
    &__img{
        position: relative;
    }
    &__image{
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    &__button{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background: rgb(37, 33, 33);
        border-radius: 10px;
    }
    &__img:hover .portfolio__button{
        opacity: 1;
    }
    &__button button{
        position: absolute;
        border-radius: 8px;
        padding: 10px;
        font-size: 16px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* Part 3 - Social Media Buttons */
.social-media{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    margin-bottom: 100px;
    &__blog{
        background-color: $color-blog;
        @include social-media-buttons-class();
        & a{
            @include social-media-buttons-element();
            &::before{
                font-family: "Font Awesome 5 Free";
                content: "\f5fc";
                font-weight: 900;
                @include social-media-buttons-before();
            }
            &::after{
                content:"Check out my blog";
                @include social-media-buttons-after();
            }
        }
        &:hover{
            transform: translateX(0px);
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
        }
    }
    &__twitter{
        background-color: $color-twitter;
        @include social-media-buttons-class();
        & a{
            @include social-media-buttons-element();
            &::before{
                font-family: "Font Awesome 5 Brands";
                content: "\f099";
                font-weight: 400;
                @include social-media-buttons-before();
            }
            &::after{
                content:"Follow me on Twitter";
                @include social-media-buttons-after();
            }
        }
        &:hover{
            transform: translateX(0px);
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
        }
    }
    &__linkedin{
        background-color: $color-linkedin;
        @include social-media-buttons-class();
        & a{
            @include social-media-buttons-element();
            &::before{
                font-family: "Font Awesome 5 Brands";
                content: "\f0e1";
                font-weight: 400;
                @include social-media-buttons-before();
            }
            &::after{
                content:"Connect on Linkedin";
                @include social-media-buttons-after();
            }
        }
        &:hover{
            transform: translateX(0px);
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
        }
    }
    &__facebook{
        background-color: $color-facebook;
        @include social-media-buttons-class();
        & a{
            @include social-media-buttons-element();
            &::before{
                font-family: "Font Awesome 5 Brands";
                content: "\f39e";
                font-weight: 400;
                @include social-media-buttons-before();
            }
            &::after{
                content:"Like my Facebook page";
                @include social-media-buttons-after();
            }
        }
        &:hover{
            transform: translateX(0px);
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
        }
    }
    &__github{
        background-color: $color-github;
        @include social-media-buttons-class();
        & a{
            @include social-media-buttons-element();
            &::before{
                font-family: "Font Awesome 5 Brands";
                content: "\f09b";
                font-weight: 400;
                @include social-media-buttons-before();
            }  
            &::after{
                content:"See projects on Github";
                @include social-media-buttons-after();
            }          
        }
        &:hover{
            transform: translateX(0px);
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
        }
    }
}

